@import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);


#form{
    /*height: 100%;*/
    overflow: hidden;
    position: relative;

}
#form form{
    margin: 0 auto;
    width: 500px;
    padding-top: 40px;
    color: white;
    position: relative;


}

#form label, input, textarea{
    display: block;
}
#form input, textarea , select{
    width: 500px;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 10px;
    font-family: 'Sniglet', cursive;
    font-size: 1em;
    color: #676767;
    transition: border 0.5s;
    -webkit-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;
    border: solid 3px #98d4f3;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;

}
#form input:focus, textarea:focus{
    border: solid 3px #77bde0;
}

/*textarea{*/
    /*height: 100px;*/
    /*resize: none;*/
    /*overflow: auto;*/
/*}*/
#form input[type="submit"]{
    background-color: #F90;
    color: white;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 1.29em;
    font-family: 'Sniglet', cursive;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}
#form input[type="submit"]:hover{
    background-color: #e58f0e;

}
#form label{
    font-size: 1.5em;
    margin-top: 20px;
    padding-left: 20px;
    color: #98d4f3;
}
.formgroup, .formgroup-active, .formgroup-error{
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 10.5%;
    transition: background-image 0.7s;
    -webkit-transition: background-image 0.7s;
    -moz-transition: background-image 0.7s;
    -o-transition: background-image 0.7s;
    width: 566px;
    padding-top: 2px;
}

.formgroup{
    background-image: url('http://www.geertjanhendriks.nl/codepen/form/pixel.gif');
}
.formgroup-active{
    background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo.png');
}
.formgroup-error{
    background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo-error.png');
    color: red;
}